.grid{
    display:grid;
}

/*body of the document----------------------------------------------------------------------*/
body {
    font-size: 16px;
    /*font-family: 'arial', 'helvetica', sans-serif;/* Declare the base font-family */
    font-family: 'Montserrat', sans-serif;
    background-color: #AAA7B2;


}

/*max width of these elements----------------------------------------------------------------------*/
header, nav, main, footer, figure img { 
  max-width: 37.5em; /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
    color:#2B2244;
}

/*header styling----------------------------------------------------------------------*/
header h1 {
    background-color:aliceblue;
    border: 2px solid #765BBB;
    padding-top: 2%;
    padding-bottom: 2%;
    
}

header img {

    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-left:2%;
    
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

/*Navigation----------------------------------------------------------------------*/
nav button{
    margin:0 2%;
    background-color: transparent;
    border:none;
    font-size:1.6rem;
    color:#555;
}
nav{
    background-color: aliceblue;
    font-family: verdana, sans-serif;
    border:2px solid #765BBB;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-bottom: 1.5em;
}

nav ul{
    list-style-type: none;
    padding:0 ;
    margin:0;
}

nav ul li a{
    display:block;
    padding: .8rem 2%; /*this makes it clickable by finger*/
    text-decoration: none;
    color:#2B2244;
    border-top:1px solid rgba(0, 0, 0, .3)
}

nav ul li a:hover{
    background-color: #765BBB;
}

nav ul li.active{
    background-color:#4F19DC;
    color:#fff;
}

nav ul.hide{
    display:none;
}
/*this is the end*/

/* hover over an image----------------------------------------------*/
img:hover {
    box-shadow: 5px 5px 10px black;
}

/*footer----------------------------------------------------------------------*/

footer {

    color:#765BBB;
    background-color:white;
    border:2px solid white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding:20px;
    margin-bottom: 20px;
    
    
}
